@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>

<ul id="people">
</ul>

<h2>People</h2>
<form id="newPersonForm">
<input type="text" name="Name" id="name" />
<input type="button" id="addButton" value="save" />
</form>

<h2>Upload Something</h2>
<form action="/api/upload" enctype="multipart/form-data" method="POST">
Select a File to Upload:
<input name="uploadedFile" type="file">
<input type="submit" value="Upload"/>
</form>

<script type="text/javascript">
    $(function () {
        loadPeople();
        $('#addButton').click(function () {
            $.post('/api/person',
                $('#newPersonForm').serialize(),
                function () {
                    $('#name').val('');
                    loadPeople();
                });
        });
    });

    function loadPeople() {
        $('#people li').remove();
        $.get('/api/person', function (data) {
            $(data).each(function (i, item) {
                $('#people').append('<li>' + item.Name + '</li>');
            });
        });
        $('#name').focus();
    }
</script>
